
.top-container{
background-color:#E4F9F5;
height:200px;
padding-top:200px;
background-image:url('https://www.freepnglogos.com/uploads/snow-png/snow-winter-romantica-misachan-29.png');
display:block;
}
.mountains{
background-color:#E4F9F5;
height:440px;
background-image:url('https://www.freepnglogos.com/uploads/snow-png/snow-winter-romantica-misachan-29.png');

width:100%;
}

body{
margin:0;
text-align:center;
}
h1{
font-family:'sacramento',cursive;
font-size:3em;
}
.photo{
height:440px;
width:240px;
position:relative;
border:2px solid grey;
border-radius:50%;
}
.middle-container{
position:relative;
top:370px;
background-color:antiquewhite;
}
.bottom-container{
position:relative;
top:360px;
}
hr{
background-color:grey;
height:3px;
}
.palm{
border-radius:50%;
}
h4{
color:rgb(244,164,6);
}
.dancer:hover{
background-color:yellow;
}








